nav{
    background-color: cyan;
    padding: 2px;
    font-family: cursive;
    
}

a{
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-align: center;
    position: relative;
    left: 38%;

    padding: 30px;
} 

.row{
    width: 75%;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    font-family: cursive;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 40px;
}

footer{
    text-align: center;
}

/* contact.html *?

/* remove input autofocus */
*:focus {
    outline:none;
}

article{
    width: 75%;
    margin: 20px 0px 0px 600px;
    font-size: 18px;

}

/* form typograph */
.contact_form h2, .contact_form label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact_form ul{
    width: 100%;
    list-style-type: none;
    list-style-position: absolute;
    margin: 0px;
    padding: 0px;
}

.notification {
    color: black;
    margin: 5px 0 0 0;
    display: inline;
    float: left;
    font-size: 14px;


}

.contact_form li {
padding:12px;
border-bottom: 1px solid white;
postion: relative;
}

.contact_form h2 {
    margin: 0;
}

.contact_form label {
    width: 150px;
    margin: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.contact_form input{
    height: 25px;
    width: 250px;
    padding: 5px;
}

.contact_form_textarea {
    width: 300px;
    padding: 5px;

}

.contact_form button{
    margin-left: 200px;

}

.contact_form input, .contact_form textarea{
    border: 1px solid black;
    border-radius: 1px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    font-style: italic;
    font-size: 14px;
}

.contact_form_input:focus, .contact_form textarea:focus {
    background-color: white;
    border: 1px solid black;
    padding-right: 75px;
}

.contact_form input:required, .contact_form textarea:required {
    background:  white url('../images/red_asterisk.png') no-repeat 98% center;

}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    background: cyan url('../images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px white;
    border-color: black;
}

.contact_form input:focus:valid, .contact_form textarea:focus:valid {
    background: #cyan url('../images/valid.png') no-repeat 98%;
    box-shadow: 0 0 5px white;
    border-color: black;
}

.form_hint {

    color: black;
    margin-left: 10px;
    padding: 1px 6px;
    position: relative;
    top: 1px;
    left: 10px;
    font-style: italic;
    font-size: 14px;
} 

.form_hint::before {
    content: "\25C0";
    color: #fcf4f4;
    position: absolute;
    top: 1px;
    left: -15px;
}

.contact_form input:focus + .form_hint {
    display:inline;
}

.contact_form input:required:valid + .form_hint {
    background: black;
}

.contact_form input:required:valid + .form_hint::before {
        color: black;
}

button.submit{
    background-color: cyan;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 6 px 20px;
}

button.submit:hover {
    opacity: 55;
    cursor: crosshair;
}

buton.submit:active{
    border: 1px solid black;
    box-shadow: 0 0 0px 0 px white;
}

#foot{

    text-align: center;
}