h1{
    font-family: "URW Chancery L";
    font-weight: bold;
}

.writer{
    font-size: 10em;
    font-style: italic;
    color: red
}

.content{
    font-weight: bold;
    text-shadow: 2px 2px 0 gray;
}



